extends JadeExtends/layout

block content
    include JadeBlocks/index/navbaralt
    div.productpage(role="main")
        include JadeBlocks/carpet/banner
        include JadeBlocks/carpet/description
        include JadeBlocks/carpet/gallery
        include JadeBlocks/carpet/brands
        include JadeBlocks/carpet/calltoaction

