extends JadeExtends/layout

block head
    title Carpet | Copeland's Carpets &amp; More | Carrollton, Frisco, Plano, Grapevine, Dallas

block content
    include JadeBlocks/index/navbaralt
    div.productpage(role="main")
        include JadeBlocks/carpet/banner
        include JadeBlocks/carpet/description
        include JadeBlocks/carpet/gallery
        include JadeBlocks/carpet/brands
        include JadeBlocks/carpet/calltoaction
        include JadeBlocks/index/footer

