extends ./JadeExtends/layout

block head
    title Carrollton Flooring | Copeland's Carpets &amp; More

block content
    include ./Jadeblocks/index/navbaralt
    div.productpage(role="main")
        include ./JadeBlocks/carrollton/banner
        include ./JadeBlocks/carrollton/services
        include ./JadeBlocks/carrollton/calltoaction
        include JadeBlocks/index/footer
    script(src="./js/main.js")

