extends JadeExtends/layout

block head
    title Copeland's Carpet & More | Flooring | Carrollton, Frisco, Plano, Flower Mound, Coppell

block content
  include JadeBlocks/index/navbar
  div(role="main")
    include JadeBlocks/index/banner
    include JadeBlocks/index/whoweare
    include JadeBlocks/index/whydifferent
    include JadeBlocks/index/services
    include JadeBlocks/index/hometestimonials
    include JadeBlocks/index/contactus
    include JadeBlocks/index/footer.jade
  script(src="./js/main.js")
