extends JadeExtends/layout

block head
    title Natural Tile &amp; Stone | Copeland's Carpets &amp; More | Carrollton, Frisco, Plano, Grapevine, Dallas

block content
    include JadeBlocks/index/navbaralt
    div.productpage(role="main")
        include JadeBlocks/stone/banner
        include JadeBlocks/stone/description
        include JadeBlocks/stone/gallery
        include JadeBlocks/stone/brands
        include JadeBlocks/stone/calltoaction
        include JadeBlocks/index/footer
