extends JadeExtends/layout

block head
    title Wood &amp; Laminate | Copeland's Carpets &amp; More | Carrollton, Frisco, Plano, Grapevine, Dallas

block content
    include JadeBlocks/index/navbaralt
    div.productpage(role="main")
        include JadeBlocks/wood/banner
        include JadeBlocks/wood/description
        include JadeBlocks/wood/gallery
        include JadeBlocks/wood/brands
        include JadeBlocks/wood/calltoaction
        include JadeBlocks/index/footer



