section#brands.wrap
    div.container
        div.row
            div.col-sm-5.col-sm-push-7
                header
                    h2 Our Brands
                P With brands like Mullican, Anderson, Earthwerks, Armstrong and others, its easy to see why we sell so much wood. If local brands are something you've got an eye for then Texas Traditions might be the Southern feel you want in your floors. High-end wood installation is a specialty of Copeland's and custom wood floors are well within our means. Exotic species are carried in-house; however, we can order any type of wood your little heart desires.
            div.col-sm-7.col-sm-pull-5
                img.img-responsive.hidden-xs(src="../Assets/img/wood images/woodbrands.jpg")