section#description
    div.container
        div.row.wrap
            div.col-sm-5
                header
                    h2 We offer the finest wood flooring in Dallas-Fort Worth
                P Unless the tree is extinct, we carry the wood type you want for your home. Browse through our list of brands for laminate and wood we commonly sell. Our gallery hosts a variety of species installed in the last couple years. We do professional grade work for residential homes and commercial properties. Our wood installers are excellently skilled and experienced with hardwoods, sand-finished, pre-finished and hand-scraped woods. Methods of application standard to the industry are nail down, glue down, floating, stair cases, etc. are all options available to our customers.
            div.col-md-7
                img.img-responsive.hidden-xs(src="../Assets/img/wood images/wooddescription.jpg" style="float:right;")