section#productGallery
    div.container
        header
            h2.text-center Our Work
        div.popup-gallery
            a(href="../Assets/img/wood images/wood1.jpg")
                img(src="../Assets/img/wood images/wood1_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/wood images/wood2.jpg")
                img(src="../Assets/img/wood images/wood2_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/wood images/wood3.jpg")
                img(src="../Assets/img/wood images/wood3_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/wood images/wood4.jpg")
                img(src="../Assets/img/wood images/wood4_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/wood images/wood5.jpg")
                img(src="../Assets/img/wood images/wood5_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/wood images/wood6.jpg")
                img(src="../Assets/img/wood images/wood6_thumb.jpg" width="100" height="100")

