extends ../JadeExtends/layout

block head
    title Carrollton Flooring | Copeland's Carpets &amp; More 

block content
    include ../JadeBlocks/index/navbaralt
    div.productpage(role="main")
        include ../JadeBlocks/carrollton/banner
        include ../JadeBlocks/carpet/description
        include ../JadeBlocks/carpet/gallery
        include ../JadeBlocks/carpet/brands
        include ../JadeBlocks/carpet/calltoaction

