section#productGallery
    div.container
        header
            h2.text-center Our Work
        div.popup-gallery
            a(href="../Assets/img/carpet images/carpet1.jpg")
                img(src="../Assets/img/carpet images/carpet1_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/carpet images/carpet2.jpg")
                img(src="../Assets/img/carpet images/carpet2_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/carpet images/carpet3.jpg")
                img(src="../Assets/img/carpet images/carpet3_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/carpet images/carpet4.jpg")
                img(src="../Assets/img/carpet images/carpet4_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/carpet images/carpet5.jpg")
                img(src="../Assets/img/carpet images/carpet5_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/carpet images/carpet6.jpg")
                img(src="../Assets/img/carpet images/carpet6_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/carpet images/carpet7.jpg")
                img(src="../Assets/img/carpet images/carpet7_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/carpet images/carpet8.jpg")
                img(src="../Assets/img/carpet images/carpet8_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/carpet images/carpet9.jpg")
                img(src="../Assets/img/carpet images/carpet9_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/carpet images/carpet10.jpg")
                img(src="../Assets/img/carpet images/carpet10_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/carpet images/carpet11.jpg")
                img(src="../Assets/img/carpet images/carpet11_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/carpet images/carpet12.jpg")
                img(src="../Assets/img/carpet images/carpet12_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/carpet images/carpet13.jpg")
                img(src="../Assets/img/carpet images/carpet13_thumb.jpg" width="100" height="100")
            a(href="../Assets/img/carpet images/carpet14.jpg")
                img(src="../Assets/img/carpet images/carpet14_thumb.jpg" width="100" height="100")

