div#splashBanner
    div.container
        div#billboard.row.intro.appear
            div.col-md-6.col-md-offset-6
                h1 <span>Carrollton's Premiere Flooring Company</span> We provide Carrollton with the best hardwood, carpet, tile, and stone floors.
                p
                    a.btn.btn-lg.btn-contact(href="/#contact" data-scroll).
                        Contact Us
