section#description
    div.container
        div.row.wrap
            div.col-sm-5
                header
                    h2 We offer the best flooring options in Carrollton, TX
                p.
                    [need text here]                   
            div.col-md-7
                img.img-responsive.hidden-xs(src="../Assets/img/carpet images/carpetdescription.jpg" style="float:right;")
