div#splashBanner
    div.container
        div#billboard.row.intro.appear
            div.col-md-6.col-md-offset-6
                h1 <span>The best flooring in Dallas-Ft.Worth</span> We serve the greater Dallas area including Carrollton, Frisco, Flower Mound, Plano, and Coppell.
                p
                    a.btn.btn-lg.btn-info.hidden-xs(href="#whoweare" data-scroll).
                        Learn More
                    a.btn.btn-lg.btn-contact(href="#contact" data-scroll).
                        Contact Us
