section#contact.wrap.color.center.contactus
    div.container
        header
            h2 Contact or Visit Us
        div.row
            div.col-md-6.uncenter(itemscope itemtype="http://schema.org/LocalBusiness")

                h3 Address
                div.remove-spacing
                    p(itemprop="name") Copeland's Carpets & More
                    div(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
                        p <span itemprop="streetAddress">1411 Lemay Dr Ste 105</span>
                        p <span itemprop="addressLocality">Carrollton</span>, <span itemprop="addressRegion">TX</span> <span itemprop="postalCode"> 75007</span>
                h3 Contact Information
                div.row
                    div.col-md-6.remove-spacing
                        p <a href="tel:972-242-5065"><span itemprop="telephone">(972) 242-5065</span></a>
                        p <span itemprp="email">tod@copelandscarpets.com</span>
                h3 Hours
                div.row
                    div.col-md-12.remove-spacing
                        p <time itemprop="openingHours" datetime="Mo,Fr 09:00-17:00">Monday – Friday</time>
                        p 9:00am to 5:00pm
                        p Appointments available <br><br>
                        p.
                            At Copeland's we take customer service to heart. If you can't make
                            our regular business hours or would prefer a catered session for
                            your project, we offer appointments to all of our customers.
                            We believe this ensures each customer gets the time and attention
                            that their project deserves. Call or email us today to set up an
                            appointment. We look forward to working with you on your project!
            div.col-md-6
                a(href="https://goo.gl/maps/CKvhe" target="_blank")
                    figure
                        img#location-map.pull-right.img-responsive(src="./Assets/img/map.png")

