section#footer.wrap
    div.container
        div.row
            div.col-sm-12.text-center
                h3 Service Areas
                ul
                    li
                        a(href="/") Greater DFW
                    li  –
                    li
                        a(href="/carrollton.html") Carrollton
                    li
                        a(href="/") Frisco
                    li
                        a(href="/") Flower Mound
                    li
                        a(href="/") Plano
                    li
                        a(href="/") Coppell


            div.col-sm-12.text-center
                </br>
                </br>
                p &#169; 2014 Michael Medellin. All rights reserved. </br>



