section#services.wrap
    div.container
        div#carpet.row.wrap
            div.col-md-5.col-sm-5.col-sm-push-7
                h2 Carpet &amp; Rugs
                P Carpet remains the most comfortable and popular item for residential and office space. Whether we are putting carpet in a new home or replacing flood-damaged pad, we know how to handle it. We do customized rugs and outdoor flooring (turf for putting greens, etc.) as well. Please look through our pictures of previous work and list of suppliers.
                a.btn.btn-lg.btn-contact(href="/carpet.html").
                    Learn More
            div.col-md-7.col-sm-7.col-sm-pull-5
                img.img-responsive.hidden-xs(src="../Assets/img/carpet.jpg")
        div#wood.row.wrap
            div.col-md-5.col-sm-12.col-sm-push-0
                h2 Wood &amp; Laminate
                P In the last 10 years, wood floor has soared in popularity due to its hardiness and eloquent look that it lends to a home’s ambiance. We pride ourselves on providing customers a diverse selection of oak, pine, exotics and much more. Browse through this section to see photos of our woodwork and a list of our suppliers.
                a.btn.btn-lg.btn-contact(href="/wood.html").
                    Learn More
            div.col-md-7.col-sm-12.col-sm-pull-0
                img.img-responsive.hidden-xs(src="../Assets/img/wood-home.jpg" style="float:right;")
        div#stone.row.wrap
            div.col-sm-5.col-sm-push-7
                h2 Natural Stone &amp; Tile
                P For bathrooms, kitchens, patios and more, tile is the preferred choice. Our customers are consistently pleased with our tile work, a feat not accomplished without fantastic experience and skill from our talented tile mechanics. Finding the right tile can be a daunting process so we encourage you to see our showroom and look through our previous work to get an idea of what can be done for your home or office. Included in this section is a list of our tile, marble and natural stone dealers.
                a.btn.btn-lg.btn-contact(href="/stone.html").
                    Learn More
            div.col-sm-7.col-sm-pull-5
                img.img-responsive.hidden-xs(src="../Assets/img/tile-home.jpg")
