section#whoweare.wrap.center.whoweare
    div.container
        header
            h2.
                Family-run flooring company serving Carrollton, Frisco,
                Flower Mound, Plano, Coppell, and North Texas.
        div.row
            div.col-sm-5.col-sm-push-7
                p.text-left.
                    With a client-centered focus, Copeland’s Carpets & More 
                    provides residents and businesses of Carrollton, Frisco
                    Flower Mound, Plano, Coppell, and North Texas an 
                    unparalleled service that is consistent in quality and 
                    fair in price. When you sit down with our staff you will                    see why Copeland’s customers keep coming back. We know 
                    how to get flooring jobs done in a professional and 
                    timely manner. Our crews are exceptionally experienced 
                    and they know top customer service is the Copeland 
                    standard.
                p.text-left.
                    Longevity coupled with excellent service is the reason 
                    why two-thirds of Copeland’s business consists of 
                    returning customers. If you're looking for a new floor
                    in Carrollton, Frisco, Flower Mound, Plano, Coppell, or
                    North Texas, give us a call or stop by our showroom in
                    Carrollton.
            div.col-sm-7.col-sm-pull-5
                img.img-responsive.hidden-xs(src="../Assets/img/sign.jpg")
