section#whydifferent.wrap.color.center.whydifferent
    div.container
        header
            h2.text-center Over the years, our experience with the flooring industry and process allowed us to outlast and outperform competitors both large and small.
        div.row
            div.col-md-4.marketingcolumn
                span.glyphicon.glyphicon-star.wrapicon.hidden-xs
                span.glyphicon.glyphicon-star.wrapicon.hidden-xs
                span.glyphicon.glyphicon-star.wrapicon.hidden-xs
                span.glyphicon.glyphicon-star.wrapicon.hidden-xs
                span.glyphicon.glyphicon-star.wrapicon.hidden-xs
                h3 Five Star Customer Service
                p.
                    We offer the best customer service in Carrollton,
                    Frisco, Flower Mound, Plano, Coppel, and North Texas.
            div.col-sm-6.col-md-4.marketingcolumn
                span.glyphicon.glyphicon-thumbs-up.wrapicon.hidden-xs
                h3 Incredible Selection of Flooring
                p We offer a wide range of flooring for your needs. Whether you're looking for value or quality, we have it.
            div.col-sm-6.col-md-4.marketingcolumn
                span.glyphicon.glyphicon-usd.wrapicon.hidden-xs
                h3 Price Competitive
                p As a small business, we know how important it is to be cost effective. We offer competitive prices for our products and services.
