!!!
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UACompatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0")
    meta(name="description" content="")
    meta(name="author" content="")

    block head

    link(href="/css/bootstrap.css" rel="stylesheet")
    link(href="/css/main.css" rel="stylesheet")
    link(rel="stylesheet" href="/css/magnific-popup.css")

  
  body(data-spy="scroll" data-target="#navbar" data-offset="75")
    block content

    script(src="/js/jquery-1.10.2.min.js")
    script(src="/js/jquery.magnific-popup.js")
    script(src="/js/smooth-scroll.js")
    script(src="/js/products.js")
    script(src="/js/bootstrap.min.js")
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48927111-1', 'copelandscarpets.com');
        ga('send', 'pageview');
