section#brands.wrap
    div.container
        div.row
            div.col-sm-5.col-sm-push-7
                header
                    h2 Our Brands
                p From marble to travertine, our tile and stone collection is top of the line. We make sure each piece of stone is consistent and that the customer is happy with what’s being laid down. Our tile mechanics have decades of experience which is why we guarantee customer satisfaction. Daltile, Emser, Interceramic, Marrazzi and many more.
            div.col-sm-7.col-sm-pull-5
                img.img-responsive.hidden-xs(src="../Assets/img/stone images/stonebrands.jpg")