div#callToAction.wrap
    div.container
        div.row
            div.col-md-8.col-md-offset-1
                header
                    h2 Want to schedule an appointment or request a quote?
                p
            div.col-md-3
                a.btn.btn-lg.btn-contact(href="/#contact").
                    Contact Us
