section#description
    div.container
        div.row.wrap
            div.col-sm-5
                header
                    h2 We offer the finest natural stone and tile in Dallas-Fort Worth
                P The variety for this particular type of flooring is impressive. We carry tile, porcelain, slate, marble, travertine, natural stone, V.C.T., and more. Tile and stone is often seen on more than just the floor in many homes and businesses. In addition to tile and stone flooring we install walls, showers, back splashes and countertops. Our suppliers are listed on this page as well as a gallery of our work.
            div.col-md-7
                img.img-responsive.hidden-xs(src="../Assets/img/stone images/stonedescription.jpg" style="float:right;")