section#brands.wrap
    div.container
        div.row
            div.col-sm-5.col-sm-push-7
                header
                    h2 Our Brands
                P In order to remain an exceptional destination for carpet, we carry a vast selection. Shaw, Mohawk, Royalty, Fabrica, and several others. Custom rugs are created based on carpet patterns from our brands.
            div.col-sm-7.col-sm-pull-5
                img.img-responsive.hidden-xs(src="../Assets/img/carpet images/carpetbrands.jpg")