section#description
    div.container
        div.row.wrap
            div.col-sm-5
                header
                    h2 We offer the finest carpet in Dallas-Fort Worth
                P Although Shaw and Mohawk distribute a large portion of our top sellers, we not only carry many others but also have means to go beyond our showroom to get the carpet you need. Whether its indoor/outdoor carpet, rugs, or pad that you're looking for, Copeland's does it. There truly is a dedication to customers that we believe in, so if your house gets flooded and you need furniture moved and a new pad put in - don't hesitate to call us. Browse through our photos to see past work done.
            div.col-md-7
                img.img-responsive.hidden-xs(src="../Assets/img/carpet images/carpetdescription.jpg" style="float:right;")