section#producttestimonials.wrap.color.testimonials.hidden-xs
    div.container
        header
            h2.text-center Our customers rave about our wood flooring
        div.row.largereview.review
            div.col-lg-8.col-lg-offset-2.uncenter
                div.row
                    div.col-lg-4.col-lg-offset-0.col-md-3.col-md-offset-1.col-sm-4.col-xs-4
                        figure
                            img.img-circle(src="../Assets/img/avatar-lg.jpg")
                    div.col-lg-8.col-md-6.col-sm-8.col-xs-8
                        q Aenean nulla elit, porta et lorem ut, vulputate tincidunt augue. Aliquam vel orci elit. Sed lobortis lorem at tincidunt dignissim. Aenean volutpat nisi non eros pellentesque euismod.
                        h3 Michael Medellin
                        h4 Dallas, TX
        div.row.smallreview.review
            div.col-xs-12.col-sm-6.col-lg-6.col-md-6
                div.row
                    div.col-md-12.col-lg-2
                        figure
                            img.img-circle(src="../Assets/img/avatar.jpg")
                    div.smallquote.col-xs-8.col-xs-offset-2.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-1
                        q Aenean nulla elit, porta et lorem ut, vulputate tincidunt augue. Aliquam vel orci elit. Sed lobortis lorem at tincidunt dignissim. Aenean volutpat nisi non eros pellentesque euismod.
                        h3 Michael Medellin
                        h4 Dallas, TX
            div.col-xs-12.col-sm-6.col-lg-6.col-md-6
                div.row
                    div.col-md-12.col-lg-2.col-lg-offset-1
                        figure
                            img.img-circle(src="../Assets/img/avatar.jpg")
                    div.smallquote.col-xs-8.col-xs-offset-2.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-1
                        q Aenean nulla elit, porta et lorem ut, vulputate tincidunt augue. Aliquam vel orci elit. Sed lobortis lorem at tincidunt dignissim. Aenean volutpat nisi non eros pellentesque euismod.
                        h3 Michael Medellin
                        h4 Dallas, TX
